@import '../../assets/GeneralDefine.scss';

$side-bar-width: 270px;
    .side-bar {
    width: $side-bar-width;
    height: 100%;
    position: sticky;

ul {

    li {
    margin-bottom: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f7f8;

    p {
        display: flex;
        justify-content: space-between;
        font-size: 1.125rem;
        color: $dark-grey;
        font-weight: 300;
        line-height: 20px;
        
        &.active {

        & ~ .sub-list-side {
            display: flex;
        }

        .show-icon {
            display: none;
        }

        .hide-icon {
            display: block;
        }
        }

        span {
        padding: 7px;
        line-height: 10px;
        cursor: pointer;

        &.hide-icon {
            display: none;
        }

        svg {
            font-size: 0.875rem;
            fill: $dark-grey;
        }
        }
    }

    .sub-list-side {
        display: none;
        flex-wrap: wrap;
        gap: 1rem;

        .item-sub-list {
        display: flex;
        text-align: center;
        min-width: 47px;

        input {
            display: none;

            &:checked ~ .item-sub-title {
            border-color: $dark;
            color: $dark;
            }
        }

        span {
            width: 100%;
            padding: 0.3rem 0;
            border-radius: 10px 0;
            border: 1px solid $medium-grey;
            font-size: 0.875rem;
            color: $dark-grey;
            cursor: pointer;
        }

        }
    }
    }
}
}