@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$text-color : #000;
$light: #fff;
$dark: #000;
$grey-text-color: #57585A;
$special-text-color: red;
$navbar-text-color : #AC2F33;
$light-grey: #E7E8E9;
$medium-grey: #cccecf;
$dark-grey: #707070;

// GLOBAL MIXIN

@mixin centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bigRectangleButton {
  @include centerContent();

  padding: 16px 0;
  width: 100%;
  border: 1px solid $dark;
}

@mixin darkHover {
  &:hover {
    background-color: $light;
    color: $dark;
  }
}

@mixin lightHover {
  &:hover {
    background-color: $dark;
    color: $light;
  }
}

@mixin responsive($break-point, $start-point: null) {
  @if $start-point {
    @media screen and (min-width: $start-point) and (max-width: $break-point) {
      @content;
    }
  } @else {
    @media screen and (max-width: $break-point) {
      @content;
    }
  }
}

@mixin mainWhiteButton($border-radius-size) {
  & {
    @include lightHover();

    font-size: 1rem;
    font-weight: 300;
    padding: 13px 24px;
    border: 1px solid;
    color: $dark;
    border-radius: $border-radius-size 0;
    position: relative;
    background-color: $light;

    &::after {
      content: '';
      width: 100%;
      height: 98%;
      position: absolute;
      bottom: 0;
      right: -5px;
      border: 1px solid $dark-grey;
      border-radius: $border-radius-size 0;
      z-index: -1;
      transition: 0.5s;
    }

    &:hover {
      &::after {
        right: 0;
        height: 100%;
      }
    }
  }
}

// GLOBAL STYLE

* {
  box-sizing: border-box;
  transition: 0.5s;
}

html {
  font-size: 16px;

  @include responsive(1860px) {
    font-size: 14px;
  }

  @include responsive(1600px) {
    font-size: 12px;
  }

  @include responsive(1400px) {
    font-size: 10px;
  }
}

#root {
  width: 100%;
  height: max-content
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-color;
}

// LOCAL STYLE

.nav-bar {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 0px 4.43rem;
  z-index: 999;
  background-color: $light;

  .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid $light-grey;

    .categories {
      display: flex;
      gap: 1.5rem;
    
      .category {
        padding: 20px 0px;

        a {
          color: $text-color;
          display: flex;
          align-items: center;
          font-weight: 600;
          gap: 5px;
          font-family: 'Montserrat', sans-serif, 400;
          letter-spacing: 0.02em;
          font-size: 1rem;
      
          &:hover {
            color: $navbar-text-color;
          }
    
          &.special {
            color: $special-text-color;
          }
      
        }

        &:hover > .sub-menu {
          display: flex;
          transition: 1s;
        }
    
        .sub-menu {
          z-index: 1;
          top: 60px;
          left: 0;
          background-color: $light;
          display: none;
          transition: 1s;
          position: absolute;
          width: 100%;
          padding: 24px;
          border: 1px solid $light-grey;
    
          .cat-sub-menu {
            width: 15%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-right: 50px;
            a {
              font-size: 0.87rem;
              width: 100%;
            }
          }

          .list-sub-menu {
            display: flex;
            flex-wrap: wrap;
            
            .item-list-sub-menu {
              height: max-content;
              width: max-content;
              margin-right: 50px;

              h3 a {
                font-size: 14px;
                font-weight: bold;
              }

              ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                  font-size: 14px;
                  font-weight: 400;
                  color: $grey-text-color;
                }
              }

            }
          }
        }
      }
    }

    .brand {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      img {
        width: 13rem;
        height: 4.1rem;
      }
    }

    .control {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include responsive(1800px) {
        width: 40%;
      }

      @include responsive(1600px) {
        width: 30%;
      }

      form {
        display: flex;
        border: 1px solid $light-grey;
        margin-right: 3.0rem;
        border-radius: 5px;
        max-width: 360px;
        width: 100%;
        
        button {
          @include centerContent();
          background-color: transparent;
          width: 40px;
          height: 40px;
          position: absolute;
          z-index: 1;
          border: none!important;
          color: $text-color;
        }
        
        input {
          border: none;
          width: 100%;
          height: 40px;
          padding: 0 40px;
          position: relative;
          background-color: $light;

          &:focus {
            outline: none;
          }

          &::-webkit-input-placeholder {
            font-size: 0.875rem;
          }
        }
      }
      

      .actions {
        display: flex;
        gap: 1rem;

        .action {
          font-size: 1.125rem;
          position: relative;

          a {
            color: $text-color;
            
            .number-cart-items {
              position: absolute;
              top: -10px;
              font-size: 0.75rem;
              border-radius: 50%;
              padding: 0 5px;
              color: $light;   
              background-color: #000;
            }
          }

          .dropdown-menu {
            transform: translate(-90%, 40px)!important;
          }

          #cart {

            .slip-cart-header {
              border-bottom: 1px solid #F7F8F9;
              margin-bottom: 24px;
            }

            .slip-cart-body {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 0;
              
              .slip-cart-list {
                width: 100%;
                max-height: 70%;

                .cart-item {
                  display: flex;
                  padding: 0 24px 12px 24px;
                  gap: 12px;
                  border-bottom: 1px solid #F6F7F8;

                  img {
                    width: 64px;
                    height: 100%;
                  }

                  .cart-item-info {
                    max-width: 80%;
                    width: 80%;

                    & > * , & > * a{
                      font-weight: 400;
                  
                    }

                    h3{
                      a {font-size: 1rem;}
                    }
                  }

                  .cart-item-properties {
                    display: flex;
                    gap: 20px;

                    p {
                      font-size: 0.875rem;
                    }
                  }

                  .cart-item-price-group {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .quantity-group {
                      width: max-content;
                      position: relative;
                      display: flex;
                      justify-content: space-between;
                      margin-left: 12px;

                      input {
                        width: 48px;
                        height: 24px;
                        border: 1px solid $light-grey;
                        padding: 0 20px;

                        &::placeholder {
                          font-size: 0.75rem;
                        }
                      }
  
                      button {
                        @include centerContent();
  
                        height: 24px;
                        width: 24px;
                        font-size: 0.625rem;
                        position: absolute;
                        background-color: $light;
                        border: 1px solid $light-grey;
  
                        &.minus {
                          border-radius: 8px 0px;
                          left: 0;
                          transform: translate(-50%, 0%)
                        }
  
                        &.plus {
                          border-radius: 0px 8px;
                          right: 0;
                          transform: translate(50%, 0%);
                        }
                      }
                    }

                    .cart-item-price {
                      font-size: 0.875rem;
                      font-weight: bold;
                      color: #AC2F33;
                      margin: 0;
                    }
                  }
                }
              }

              .slip-cart-total-price {
                display: flex;
                gap: 10px;
                padding: 0 24px;
                align-items: center;
                justify-content: flex-end;
                font-size: 0.875rem;
                border-bottom:  1px solid #F7F8F9;

                strong {
                  font-size: 18px;
                }
              }

              .slip-cart-action {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 16px 24px 5px 24px;

                a {
                  font-size: 1rem;
                  font-weight: bold;

                  @include bigRectangleButton();
                  @include lightHover();

                  &.dark {
                    background-color: $dark;
                    color: $light;
                    @include darkHover()
                  }

                  &:nth-child(1) {
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}

// SITE MAIN

.site-main {
  width: 100%;
  height: 100%;
  padding: 0px 4.3rem;
  margin-top: 80px;
  display: flex;
  flex-direction: column;

    .slide {
      margin-bottom: 40px;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 98%;
        border: 1px solid $medium-grey;
        border-radius: 80px 0;
        position: absolute;
        right: -10px;
        bottom: 0;
      }

      .carousel-indicators {
        display: flex;
        gap: 16px;
  
        button {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid $light;
  
          &.active {
            background-color: $light;
          }
        }
      }
  
      .carousel-inner {
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        overflow: hidden;
      }
    }

    .home-products {
      margin-bottom: 50px;

      .title-section {
        text-align: center;
        font-size: 1.9rem;
        line-height: 32px;
        font-weight: 600;
        letter-spacing: 0.125rem;
        margin-bottom: 20px;
      }

      .body-section {
        margin-bottom: 30px;

        .product-category {
          @include centerContent();
          margin-bottom: 30px;

          ul {
            display: flex;
            gap: 56px;

            .product-category-tab {
              font-size: 1.25rem;
              color: $dark-grey;
              cursor: pointer;

              &.active {
                border-bottom: 2px solid $dark;
              }
            }

          }
          
        }
        .products{
          .products-wrapper{
            padding: 0 10px;
            display: flex;
            overflow-y: scroll;
            gap: 30px;
          }

        }
      }

      .footer-section {
        @include centerContent();

        .view-all-nav {
          display: flex;
          
          a {
            @include mainWhiteButton(24px)
          }
        }
      }
    }
}

// SITE FOOTER

.site-bottom {
  border-top: 1px solid $medium-grey;

  .main-bottom {
    padding: 60px 15px 32px 15px;
    margin: 0 56px;
    display: flex;
    justify-content: space-between;

    .bottom-left {
      max-width: 22%;
      font-size: 0.875rem;

      .certificates {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 24px;

        a {
          width: 33%;
          img {
            width: 100%;
            max-width: 100%;
          }
          &:nth-child(2) img{
            max-height: 30px;
            
          }
        }
      }

      .content {
        .info-content {

          p {
            font-weight: 300;
            b {
              font-weight: 600!important;
            }
          }
        }

        .social-links {
          display: flex;
          gap: 25px;

          li {
            a img {
              width: 30px;
              height: 27px;
            }
          }
        }

        .hotline {
          display: flex;
          margin-top: 30px;

          a {
            background-color: $dark;
            color: $light;
            padding: 12px 24px;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 16px 0
          }
        }
      }
    }

    .bottom-center {
      width: 45%;
      display: flex;
      justify-content: space-between;

      div {
        h3 {
          margin-bottom: 24px;
        }
        p {
          font-weight: 300
        }
      }
    }

    .bottom-right {
      width: 23%;
      
      .register-form {
        border-radius: 56px 0;
        border: 6px solid $light-grey;
        padding: 32px 28px;
        margin-bottom: 32px;

        h3 {
          font-size: 1.25rem;
          font-weight: 600;
          letter-spacing: 0.05rem;
          line-height: 1.9rem
        }

        form {
          display: flex;
          gap: 15px;
          input {
            border: none;
            outline: none;
            width: 63%;
            border-bottom: 1px solid $medium-grey;
          }

          button {
            @include mainWhiteButton(20px);

            width: 37%;
            padding: 0.625rem 1.7rem!important;
          }
        }
      }

      .download-app-invite {
        h3 {
          margin-bottom: 30px;
        }
        ul {
          display: flex;
          gap: 19px
        }
      }
    }

  }

  .copyright {
    @include centerContent();
    display: flex;
    gap: 5px;
    padding: 24px 0;
    font-size: 1rem;
    color: $dark-grey;
    border-top: 1px solid $medium-grey;

    svg {
      fill: $dark-grey;
    }
  }
}




// GENERAL PRODUCT STYLE

.product {
  width: 330px;
  min-width: 330px;
  position: relative;

  .info-ticket {
    position: absolute;
    left: -7px;
    height: 30px;
    line-height: 16px;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 7px 18px 7px 15px;
    color: $light;
    z-index: 3;
    
    &.new-ticket {
      background: url(https://pubcdn.ivymoda.com/ivy2/images/bg_news.png) center center / cover no-repeat;

    }

    &.best-seller-ticket {
      background: url(https://pubcdn.ivymoda.com/ivy2/images/bg-seller.png) no-repeat center/cover;
    }

    &::before {
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      border-top: 17px solid rgb(215, 56, 49);
      border-left: 7px solid transparent;
      bottom: -16px;
      left: 0px;
      z-index: -1;
    }
  }

  .images {
    position: relative;
    height: 495px;
    margin-bottom: 13px;

    &:hover {
      .image {
        opacity: 0;
      }

      .image.hover-image {
        opacity: 1;
      }
    }

    a {
      .image {
        width: 100%;
        position: absolute;
  
        &.hover-image {
          opacity: 0;
        }
      }
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 13px;
    
    .color-list {
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        gap: 10px;

        .color-option {
          width: 18px;
          height: 18px;
          position: relative;

          &.checked::before {
            content: "";
            left: 7px;
            top: 7px;
            width: 5px;
            height: 9px;
            border: solid #FFF;
            border-width: 0 1px 1px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            display: block;
            position: absolute;
          }
          
          img {
            width: 100%;
            border-radius: 50%;
            height: 100%;
            object-fit: cover;
          }

        }
      }
    }

    .product-name {
      a {
        font-weight: 300;
        color: $dark-grey;
      }
    }

    .product-price {
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        width: max-content;
        height: max-content;
        padding: 5px 10px;
        background-color: $dark;
        color: $light;
        border-radius: 8px 0;
      }
    }
  }
}


